

h4{	color: black
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
}
h5{	text-indent: 10px;
	background-color:  #888e94;
	border-radius: 5px;
}

/*MOBILE*/
@media(max-width: 766px){
	.jumbotron{
	
		color: black;
		position: relative;
		background-image:  url("../Images/jumboImg.jpg");
		background-size: 250%
	}
	body{
		width: 99%;
		background: url("../Images/moblBG.jpg");
		color: white;
		margin: 2px;
		border: 1px groove white;
		border-radius: 5px;
		padding: 3px;
	}
	.homecontents{
		font-size: 15px;
		/*font-weight: bold;*/
		opacity: 0.8;
		box-sizing: border-box;
		padding: 10px;
		border: 1px solid white;
		margin: 20px;
		opacity: 0.7;
		background-color: black;
	}

	#ug{
		
		background-color: white;
		opacity: 0.9;
		padding: 10px;
	}
	#contact{

		background-color: white;
		opacity: 0.9;
		padding: 10px;
	}


	#greet{
		font-style: italic;
		font-weight: bold;
		font-size: 15px;
	}
	#BgssIp{
		border: 2px solid white;
		padding: 5px;
		background-color: black;
		opacity: 0.8;
		text-align: justify;
	}
	#IbecIp{
		border: 1px solid white;
		padding: 2px;
		background-color: black;
		opacity: 0.8;
		text-align: justify;
	}
	#project img{
		margin: 5px;
		padding: 2px;
		width: 250px !important;

	}
	#quotes img{
		width: 300px;
		margin: 10px;
	}
	#blogHead{
	/*	font-weight: bold;*/
		font-size: 20px;
		opacity: 0.8;
		box-sizing: border-box;
		padding: 10px;
		border: 1px solid white;
		margin: 20px;
		opacity: 0.7;
		background-color: black;
	}
	#caro img{
		width: 300px;
		height: 300px;

	}


}


/*LARGE*/
@media(min-width:1370px ){
	#greet{
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
	}
	body{
		background-blend-mode: lighten;
		color: white;
		background: url("../Images/homebg.jpg");
		background-size: 100%;
		margin: 10px;
		border: 2px solid white;
		border-radius: 10px;
		padding: 10px;
		}

	
	.jumbotron{
	
		color: black;
		position: relative;
		background-image:  url("../Images/jumboImg.jpg");
		background-size: 100%
	}
	.jumbotron img{

		position: relative;
		border-radius: 20px;
	
		background-color: white;
	}
	.row p{
		text-align: left;
	}
	a{
		text-align: left;
	}
	#ug{
		font-size: 20px;
		background-color: white;
		opacity: 0.9;
		padding: 10px;
	}
	.homecontents{
	/*	font-weight: bold;*/
		font-size: 16px;
		opacity: 0.8;
		box-sizing: border-box;
		padding: 10px;
		border: 1px solid white;
		margin: 20px;
		opacity: 0.7;
		background-color: black;
	}

	#contact{
		font-size: 20px;
		background-color: white;
		opacity: 0.9;
		padding: 10px;
	}
	#IbecIp{
		border: 2px solid white;
		padding: 5px;
		background-color: black;
		opacity: 0.8;
		font-size: 20px;
		text-align: justify;
	}
	#BgssIp{
		border: 2px solid white;
		padding: 5px;
		background-color: black;
		opacity: 0.8;
		font-size: 20px;
		text-align: justify;
	}
	#project img{
		margin: 10px;
		padding: 5px
	}
	#quotes img{
		width: 500px;
		margin: 20px;
	}
	#blogHead{
	/*	font-weight: bold;*/
		font-size: 30px;
		opacity: 0.8;
		box-sizing: border-box;
		padding: 10px;
		border: 1px solid white;
		margin: 20px;
		opacity: 0.7;
		background-color: black;
	}
	#caro img{
		width: 820px;
		height: 820px;

	}


}


/*MED*/
@media(max-width: 1369px) and (min-width: 767px){
	body{
		background-blend-mode: lighten;
		color: white;
		background: url("../Images/homebg.jpg");
		background-size: 100%;
		margin: 10px;
		border: 2px groove white;
		border-radius: 10px;
		padding: 10px;
	}
	.jumbotron{
		color: black;
		position: relative;
		background-image:  url("../Images/jumboImg.jpg");
		background-size: 100%
	}
	.jumbotron img{

		position: relative;
		border-radius: 20px;

		background-color: white;
	}
	.row p{
		text-align: left;
	}
	a{
		text-align: left;
	}
	#ug{
		background-color: white;
		opacity: 0.9;
		padding: 10px;
		
	}
	.homecontents{
		opacity: 0.7;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 10px;
		border: 1px solid white;
		margin: 10px;
		background-color: black;
	}
	#contact{
		background-color: white;
		opacity: 0.9;
		padding: 10px;
	}
	#greet{
		font-style: italic;
		font-weight: bold;
		font-size: 12px;
	}
	#BgssIp{
		border: 2px solid white;
		padding: 5px;
		background-color: black;
		opacity: 0.8;
		text-align: justify;
	}
	#IbecIp{
		border: 2px solid white;
		padding: 5px;
		background-color: black;
		opacity: 0.8;
		text-align: justify;
	}
	#project img{
		margin: 10px;
		padding: 5px
	}
	#quotes img{
		width: 500px;
		margin: 10px;
	}
	#blogHead{
	/*	font-weight: bold;*/
		font-size: 20px;
		opacity: 0.8;
		box-sizing: border-box;
		padding: 10px;
		border: 1px solid white;
		margin: 20px;
		opacity: 0.7;
		background-color: black;
	}
	#caro img{
		width: 600px;
		height: 600px;

	}


}

nav{
	margin: 5px;
}

#certNav{
	background-color: #80b7ed;
}

a:hover,a:active{
	background-color: #888e94;
	color: white;
	font-weight: bold;
}


th, td, table{
	
	border:1px solid white;
	border-collapse: collapse;
	text-align: left;
}

